<header class="header">
  <div class="row">
  <div class="logo">
    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="logo"/></a>
  </div>

  <nav id="topNav">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">CITIES</a></li>
      <li><a href="#">PROJECTS</a></li>
      <li><a href="#">ABOUT</a></li>
    </ul>
  </nav>
  </div>
</header>
